/* General styling for portfolio */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;;
}

section {
    margin: 40px auto;
    gap: 30px;
    max-width: 300px;
}

.common-container {
    border-radius: 10px;
    height: 100%;
    justify-content: space-evenly;
}

h4, 
p {
    margin: 0;
}

.btn {
width: 120px;
padding: 16px;
background-color: rgb(55, 130, 211);
color: white;
border-radius: 12px;
cursor: pointer;
transition: all 300ms ease;
}

.btn:hover {
    background-color: rgb(27, 90, 157);
}

/* HERO */

#hero {
    text-align: center;
}

#hero h2, 
#hero p {
    color: rgb(85, 85, 85);
    font-weight: 500;
}

.hero-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 40px auto;
}

#hero img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

/* About */

#about,
.container,
.common-container,
.outer-container {
    display: flex;
    align-items: center;
}

#about,
.common-container,
.outer-container {
    flex-direction: column;
}

.container {
    height: 140px;
    gap: 20px;
}

.common-container {
    background-color: rgba(234, 234, 234, 0.3);
}

#about p {
    text-align: justify;
}

#about .common-container p {
    text-align: center;
}

.container div {
    flex: 1;
}

/* Skills */

#skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#skills .container {
    height: 300px;
    width: 100%;
}

/* Contact */

#contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact .container {
    height: auto;

}

#contact button {
    height: 50px;
    width: 50px;
    background: none;
    padding: 0%;
}

#contact img {
    height: 100%;
}

footer {
    text-align: center;
    color: rgb(85, 85, 85);
    margin: 100px auto;
}

